/* Global styles */
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color: #A7A1AE;
  background-color: #1F2739;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  text-align: center; /* Ensures content is centered */
}

h1 {
  font-size: 3em;
  font-weight: 300;
  line-height: 1em;
  text-align: center;
  color: #4DC3FA;
  margin-bottom: 1.5em;
}

/* Container to ensure responsiveness */
.container {
  width: 100%;
  overflow-x: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center; /* Center the table within the container */
}

table {
  width: 90%; /* Reduce width for better centering on small screens */
  table-layout: fixed;
  white-space: nowrap;
  border-spacing: 0;
  border-collapse: collapse;
  background-color: #2C3446;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 1em;
  text-align: center;
}

th {
  background-color: #185875;
  color: white;
  font-weight: bold;
}

tr {
  border-bottom: 1px solid #444;
}

tr:nth-child(even) {
  background-color: #323C50;
}

tr:nth-child(odd) {
  background-color: #2C3446;
}

tr:hover {
  background-color: #464A52;
}

td {
  color: #A7A1AE;
}

td:first-child {
  color: #FB667A;
}

td:hover {
  background-color: #FFF842;
  color: #403E10;
  font-weight: bold;
  transition: all 0.3s ease;
}

/* Medalje-stil */
.medal-gold {
  background-color: gold;
  color: white;
  padding: 5px;
  border-radius: 50%;
  margin-right: 10px;
}

.medal-silver {
  background-color: silver;
  color: white;
  padding: 5px;
  border-radius: 50%;
  margin-right: 10px;
}

.medal-bronze {
  background-color: #cd7f32; /* Bronsje-farge */
  color: white;
  padding: 5px;
  border-radius: 50%;
  margin-right: 10px;
}

.name-cell {
  display: flex;
  align-items: center;
}

/* Ensure the table is responsive on smaller screens */
@media (max-width: 768px) {
  th, td {
    font-size: 0.9em;
    padding: 0.5em;
  }
}

/* Ensure the table is scrollable horizontally on small screens */
@media (max-width: 500px) {
  table {
    width: 100%; /* Make sure table takes full width on mobile */
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  h1 {
    font-size: 1.5em; /* Reduce title size on mobile */
  }

  th, td {
    font-size: 0.8em;
  }
}
