@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color: #A7A1AE;
  background-color: #1F2739;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

h1 {
  font-size: 3em;
  font-weight: 300;
  line-height: 1em;
  text-align: center;
  color: #4DC3FA;
  margin-bottom: 1.5em;
}

.container {
  width: 60%;
  margin: 0 auto;
}

table {
  width: 100%;
  background-color: #2C3446;
  border-spacing: 0;
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 1em;
  text-align: center;
}

th {
  background-color: #185875;
  color: white;
  font-weight: bold;
}

tr {
  border-bottom: 1px solid #444;
}

tr:nth-child(even) {
  background-color: #323C50;
}

tr:nth-child(odd) {
  background-color: #2C3446;
}

tr:hover {
  background-color: #464A52;
}

td {
  color: #A7A1AE;
}

td:first-child {
  color: #FB667A;
}

td:hover {
  background-color: #FFF842;
  color: #403E10;
  font-weight: bold;
  transition: all 0.3s ease;
}

/* Medalje-stil */
.medal-gold {
  background-color: gold;
  color: white;
  padding: 5px;
  border-radius: 50%;
  margin-right: 10px;
}

.medal-silver {
  background-color: silver;
  color: white;
  padding: 5px;
  border-radius: 50%;
  margin-right: 10px;
}

.medal-bronze {
  background-color: #cd7f32; /* Bronsje-farge */
  color: white;
  padding: 5px;
  border-radius: 50%;
  margin-right: 10px;
}

.name-cell {
  display: flex;
  align-items: center;
}
