@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color: #A7A1AE;
  background-color: #1F2739;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

h1 {
  font-size: 3em;
  font-weight: 300;
  line-height: 1em;
  text-align: center;
  color: #4DC3FA;
  margin-bottom: 1.5em; /* Increased space between title and table */
}

.container {
  width: 60%; /* Make table bigger */
  margin: 0 auto;
}

table {
  width: 100%; /* Table takes full container width */
  background-color: #2C3446; /* Add background color to the table */
  border-spacing: 0; /* No spacing between cells */
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Add slight shadow to the table */
}

th, td {
  padding: 1em; /* Add padding to make the table bigger */
  text-align: center;
}

th {
  background-color: #185875; /* Color for table headers */
  color: white;
  font-weight: bold;
}

tr {
  border-bottom: 1px solid #444; /* Line between rows */
}

tr:nth-child(even) {
  background-color: #323C50; /* Alternate row color */
}

tr:nth-child(odd) {
  background-color: #2C3446; /* Alternate row color */
}

tr:hover {
  background-color: #464A52; /* Hover effect */
}

td {
  color: #A7A1AE;
}

td:first-child {
  color: #FB667A; /* First column color */
}

td:hover {
  background-color: #FFF842;
  color: #403E10;
  font-weight: bold;
  transition: all 0.3s ease;
}

@media (max-width: 800px) {
  .container {
    width: 100%; /* Make the table fill screen on small devices */
  }
}
